.DS_Store
node_modules
*/node_modules
/.svelte
/build
/functions
#  .begin/*
# !.begin/shared
# .begin/shared/*
# !.begin/shared/.keep
# !.begin/shared/static.json
# .begin/shared/static.json
# .begin/public/static.json
# .svelte-kit/output
# .svelte-kit/begin